.SignIn {
    display: flex;
    flex-flow: column;
}

.SignIn button {
     color: black;
     background: #acc1ed;
 }

.SignIn button:hover{
    background: green;
    color: white;
}

.Hr {
    height: 1px;
    margin: 10px 0 20px 0;
    background: rgba(255, 255, 255, .2);
}

.FootLnk {
    text-align: center;
    color: black;
    cursor: pointer;
}

.FootLnk:hover {
    color: #5983da;
}
