.SignIn {
    display: flex;
    flex-flow: column;
}

.SignIn button {
     color: black;
     background: #ACC1ED;
 }

.SignIn button:hover{
    background: #4CAF50;
    color: white;
}

.FootLnk {
    text-align: center;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.FootLnk:hover {
    color: #2096F3;
}