.root {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.header{
    text-align: center;
    background: #2096F3;
    align-items: center;
    border:solid black;
    border-radius: 10px;
    color: white;
}

.CreateChallenge {
    text-align: center;
    align-items: center;
    padding: 20px;
}

