@media (max-width: 960px) {
    .root {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .root {
        width: 500px;
    }
}

.root {
    box-sizing: border-box;
}

.Form {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
}
