@media (max-width: 960px) {
    .root {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .root {
        width: 500px;
    }
}

.root {
    box-sizing: border-box;
}

.Form {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.butonSave:hover {
     background-color: #4CAF50 !important;
     color: #FFF;
 }

.TextField:hover {
    background-color: rgba(0, 255, 0, 0.1) !important;
    padding-bottom: -300px !important;
}

.butonCancel {
    position: absolute;
    bottom: 0;
    left:0;
}

.butonCancel:hover {
    background-color: #d50000 !important;
    color: #FFFFFF;
}

.header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 10px !important;
    display: inline-block;
}

.Footer {
    border-top: solid rgba(31, 160, 255, 0.2);
}

.HeaderText {
    color: black;
}
