@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

body {
    background: rgba(75, 151, 242, 0.06) !important;
    font-family: 'Muli', sans-serif;
}

.UserName {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}

.UserNameStyle {
    background: #2096F3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 15px !important;
}

.PageStyle {
    height: 100vh;
    /*overflow: auto;*/
}

.root{
    max-width: 100%;
    display: flex;
    flex: 1 1 250px;
}

.RowR {
    display: flex;
    flex-flow: row;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.ColumnR {
    flex-flow: column;
}

@media (max-width: 670px) {
    .UserName {
        font-size: 40px;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 520px) {
    .UserName {
        font-size: 37px;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 515px) {
    .UserName {
        font-size: 30px;
        text-align: center;
        margin-left: 0;
    }
}


