.Db {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.challengeCard {
    marginTop: 100%;
    float: left;
    background: #5983da;
}
.ChallengeImage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/svg/Challenge_clipArt.png) center;
}

/*!*Dash Style*!*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/
/*svg {*/
    /*display: block;*/
    /*font: 8.5em 'Montserrat';*/
    /*width: 600px;*/
    /*height: 200px;*/
    /*margin: 0 auto;*/
    /*background: rgba(110, 150, 150, 0.73);*/
    /*border-radius: 20px;*/
    /*border: solid black;*/
/*}*/

/*.text-copy {*/
    /*fill: none;*/
    /*stroke: white;*/
    /*stroke-dasharray: 6% 29%;*/
    /*stroke-width: 5px;*/
    /*stroke-dashoffset: 0%;*/
    /*animation: stroke-offset 5.5s infinite linear;*/
/*}*/

/*.text-copy:nth-child(1){*/
    /*stroke: blue;*/
    /*animation-delay: -3s;*/
/*}*/

/*.text-copy:nth-child(2){*/
    /*stroke: green;*/
    /*animation-delay: -2s;*/
/*}*/

/*.text-copy:nth-child(3){*/
    /*stroke: #d5d500;*/
    /*animation-delay: -1s;*/
/*}*/

/*.text-copy:nth-child(4){*/
    /*stroke: red;*/
    /*animation-delay: -4s;*/
/*}*/

/*.text-copy:nth-child(5){*/
    /*stroke: #FDB731;*/
    /*animation-delay: -5s;*/
/*}*/

/*@keyframes stroke-offset{*/
    /*100% {stroke-dashoffset: -35%;}*/
/*}*/


/*end*/

/* button for challenge*/
c {
    color: #5983da;
    text-decoration: none;
    transition: 0.3s all ease;
}

c:hover {
    color: #acc1ed;
}

c:focus {
    text-decoration: none;
}

c:active {
    color: black;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height:230px;
    padding-left: 20px;
    padding-right: 23px;
    /*border: solid black;*/
}

.bttn {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-size: 25px;

}
.bttn:after {
    transition: 0.3s all ease;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid #5983da;

}
.bttn:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}
.bttn:hover:after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background: #e4ebf9;
    opacity: 0.3;
}
.bttn:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}
.bttn:active:before {
    background-color: #acc1ed;
}
.bttn:active:after {
    border-color: #acc1ed;
}