.items{
    position: absolute;
    bottom: 0;
    left:0;
}

.items:hover {
    background-color: #4CAF50 !important;
    color: white;
}

.Trash:hover {
    color: #d50000 !important;
}

.TextItem:hover {
    color: #FFFFFF;
}