.SideDrawerItems a {
    text-decoration: none;
    width: 100%;
    align-items: center;
}

.SideDrawerItems a:hover,
.SideDrawerItems a:active,
.SideDrawerItems a.active {
    color: #40a4c8;
    text-decoration: underline;
}

.Header {
    width: 100%;
    text-align: center;
    padding: 8px;
}