.Next:hover {
    background-color: #4CAF50 !important;
    color: white !important;
}

.Back:hover {
    background-color: #d50000 !important;
    color: white !important;
}
.Stepper {
    background-color: #2096F3 !important;
}

.Tool {
    background-color: #2087de !important;
    color: white !important;
    font-size: 13px !important;
}