body {
    margin: 0;
    color: #6a6f8c;
    background: url(dots.jpg);
    background-size: cover;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

h1.sign-in-title {
    margin: 25px;
    padding: 25px;
    font-size: 45px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    margin: auto;
    max-width: 860px;
    min-height: 670px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(brain.png) center;
    background-size: 200% 150%;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.firebase-login {
    min-height: 345px;
    perspective: 1000px;
    transform-style: preserve-3d;
    padding: 25px;
    color: #fff;
}

.mind-eater-login .sign-in-htm,
.mind-eater-login .sign-up-htm {
    top: 60px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .9s linear;
}

.mind-eater-login .sign-in,
.mind-eater-login .sign-up,
.login-form .group .check {
    display: none;
}

.mind-eater-login .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.mind-eater-login .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.mind-eater-login .sign-in:checked + .tab,
.mind-eater-login .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 570px;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    padding: 25px;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
    text-align: left;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.mind-eater-login .sign-in:checked ~ .sign-in-htm {
    transform: rotate(0);
}

.mind-eater-login .sign-up:checked ~ .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 1px;
    margin: 40px 0 20px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
    color: #fff;
}
