.Content {
    box-sizing: border-box;
}

.CellStyle {
    text-align: center !important;
}

.Score {
    padding: 16px 0;
}

.okBttn:hover {
    background-color: #64e17a !important;
    color:#FFF;
}
