.Title {
    color: white !important;
    font-size: 30px;
}

/*Another way to ini classes in CSS*/
/*.title > * {*/
    /*color: white !important;*/
    /*text-align: center;*/
/*}*/

/* Mind Eater Logo */
.Logo {
    width:50px;
    margin: -80px 10px 10px auto;
}


.Buttons {
    margin-top: 10px;
}

.stepperCompleted circle {
    color:#4CAF50;
}

.stepperActive circle {
    color:#2096F3;
}

.stepperDisabled circle {
    color:#d60000;
}

.ContentRow {
    display: flex;
    flex-flow: row;
}

.ContentCol {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    top: auto;
    right: 20px;
    bottom: auto;
    left: auto;
    position: fixed;
}

.Brand {
    margin: 0;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    font-size: 30px;
    color: white;
    font-weight: 500;
    background: rgba(4, 106, 156, 0.65);
    z-index: 1;
}

.BrandTxtStyle {
    margin-left: 15px;
}

.Submit:hover {
    background-color: #4CAF50 !important;
    color:#FFF;
}

.Next:hover {
    background-color: #2096F3 !important;
    color:#FFF;
}

.Explanation {
    max-width: 200px;
}

.Question {
    max-width: 50px;
}

@media (max-width: 40em){
    .ContentCol {
        top: 5%;
        right: 20px;
        bottom: auto;
        left: auto;
        position: absolute;
    }
}
/*Mobile phones*/
@media (max-width: 35em){
    .ContentCol {
        top: auto;
        right: 5px;
        bottom: 25px;
        position: absolute;
    }
}