.Title {
    color: white !important;
    font-size: 30px;
}

/*Another way to ini classes in CSS*/
/*.title > * {*/
    /*color: white !important;*/
    /*text-align: center;*/
/*}*/

/* Mind Eater Logo */
.Logo {
    width:50px;
    /*display: block;*/
    margin: -65px 10px 5px auto;
}


.Buttons {
    margin-top: 10px;
}

.stepperCompleted circle {
    color:#4CAF50;
}

.stepperActive circle {
    color:#2096F3;
}

.stepperDisabled circle {
    color:#d60000;
}

.ContentRow {
    display: flex;
    flex-flow: row;
}

.ContentCol {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    /*margin: 0;*/
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    position: fixed;

}

.Submit:hover {
    background-color: #4CAF50 !important;
    color:#FFF;
}

.Next:hover {
    background-color: #2096F3 !important;
    color:#FFF;
}

/*Mobile phones*/
@media (max-width: 35em){
    .ContentCol {
        top: auto;
        right: 5px;
        bottom: 5px;
        position: absolute;
    }
}