.Buttons {
    margin-top: 10px;
}

.stepperCompleted circle {
    color:#4CAF50;
}

.stepperActive circle {
    color:#2096F3;
}

.stepperDisabled circle {
    color:#d60000;
}

.ContentRow {
    display: flex;
    flex-flow: row;
}

.ContentCol {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin: 0;
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    position: fixed;

}

.Submit:hover {
    background-color: #4CAF50 !important;
    color:#FFF;
}

.Next:hover {
    background-color: #2096F3 !important;
    color:#FFF;
}

@media (max-width: 35em){
    .ContentCol {
        top: 10px;
        right: 5px;
        position: absolute;
    }
}