.List {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.LoadingBar {
    padding: 16px;
}

.header {
    text-align: center;
    background: #2096F3;
    align-items: center;
    border:solid black;
    border-radius: 10px;
    color: white;
}

.DividerLine {
    margin-top: 30px !important;
}

.SearchBar {
    margin-left: 25% !important;
    margin-top: 20px;
}

.Search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 15px;
    height: 40px;
    width: 75%;
    background-color: white;
}

.Search:hover {
    background-color: rgba(64, 164, 200, 0.25);
}

.SearchIcon {
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
