.root {
    width: 100%;
    box-sizing: border-box;

}

.Tip {
    background: white;
    color:black;
    font-size: larger;
}


.bouton:hover {
    background-color: #4CAF50 !important;
    color: #FFF;
}



