.root {
    width: 100%;
    box-sizing: border-box;

}

.Tip {
    background: white;
    color:black;
    font-size: larger;
}

.bouton{
    position: absolute;
    bottom: 0;
    left:0;
}

.bouton:hover {
    background-color: #4CAF50 !important;
    color: #FFF;
    opacity: 0.5%;
}



