.SideDrawerItems a {
    text-decoration: none;
    width: 100%;
    align-items: center;
}

.SideDrawerItems a.active {
    color: #2096F3;
    text-decoration: underline;
}

.Footer {
    background-color: #2096F3 !important;
    color: #FFFFFF !important;
    margin-top: 607px !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.Header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.Divider {
    margin: -10px 15px 15px !important;
}

/* Mind Eater Logo */
.Logo {
    width:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
    padding-left: 20px;
}

.Bttn:hover {
    background-color: rgba(32, 150, 243, 0.36) !important;
    color: white !important;
}
/*Pixel 2*/
@media (max-height: 736px) {
    .Footer {
        margin-top: 405px !important;
    }
}
