.SideDrawerItems a {
    text-decoration: none;
    width: 100%;
    align-items: center;
}

.SideDrawerItems a.active {
    color: #2096F3;
    text-decoration: underline;
}

.Header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.Divider {
    margin: -10px 15px 15px !important;
}

/* Mind Eater Logo */
.Logo {
    width:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
    padding-left: 20px;
}

.Bttn:hover {
    background-color: rgba(76, 175, 80, 0.51) !important;
    color: white !important;
}
