.CardStyle {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 15px !important;
}

.Divider{
    margin-left: 20px !important;
    margin-right:20px !important;
    margin-bottom: 20px !important;
}

.Box {
    text-align: center;
    width: 70px;
    height:70px;
    background-color: #d60000 !important;
    z-index: 3 !important;
    padding: 15px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 50px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 15px !important;
}